<div class="ticket-new">
  <div class="headline-bar">
    <h1>New Ticket</h1>
    <div class="headline-right">
      <%= link_to "Back", tickets_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <%= render 'form', ticket: @ticket %>
</div>